In [62]:
#importing libraries
import numpy as np
import pandas as pd 
from sklearn.naive_bayes import GaussianNB
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

In [63]:
#load csv file
df=pd.read_csv("C:/Users/Dell/Desktop/iris1.csv")
df.head()
df.size

900

In [65]:
#Replace Species type with numbers
df.Species.replace(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], [1, 2, 3], inplace=True)
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [66]:
# Split-out validation dataset
array = df.values
X = array[:,1:5]
Y = array[:,5]

In [67]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [105]:
#Coverting all training & testing values into range(-1 to 1)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
#print(X_trainscale)
#print(X_testscale)

In [106]:
#Fitting the training set
clf = GaussianNB()
clf.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [107]:
#Predicting for the Test Set
Y_pred = clf.predict(X_test)

In [108]:
Y_pred

array([1., 1., 3., 1., 1., 3., 1., 3., 3., 1., 1., 1., 1., 1., 2., 2., 1.,
       2., 3., 2., 3., 2., 3., 2., 2., 1., 1., 3., 1., 3.])

In [109]:
cm=confusion_matrix(Y_test,Y_pred)
cm

array([[14,  0,  0],
       [ 0,  7,  1],
       [ 0,  0,  8]], dtype=int64)

In [110]:
print(accuracy_score(Y_test,Y_pred))

0.9666666666666667

In [113]:
#Dynamically Testing
n1 = float(input("Enter a sepal_length value : "))
n2 = float(input("Enter a sepal_width value : "))
n3 = float(input("Enter a petal_length value : "))
n4 = float(input("Enter a petal_width value : "))

test = scaler.transform([[n1,n2,n3,n4]])
y_out= clf.predict(test)
print("Output is :",y_out)

Enter a sepal_length value : 24
Enter a sepal_width value : 24
Enter a petal_length value : 33
Enter a petal_width value : 33
Output is : [3.]